<!-- <div class="wrapper" id="women_acceroies">

    <h1>All Hotels</h1>
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(https://i.pinimg.com/564x/28/74/32/2874325d91bfa32c594ca4cad230fc73.jpg)">
  
                          <div class="inner">
  
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Multicolored white, gold & green Necklace</p> <br>
                <div class="spanwrapper">
          <span class="firstspan" title="Original price">500E£</span>
          <span class="secspan" title="Discount price">350E£</span>
        </div> <br>
        <form class="formwrapper" action="Multicolored white, gold & green Necklace.html" method="post">
          <button id="mybutton1"  type="button" name="See More Details" class="detailsbutton" onclick="location.href ='WOMENPAGES/WOMEN-ACCESSORIES/neclaus2.html'">See More Details</button>
        </form>
                          </div>
                      </div>
                  </div>
              </div> 
          </div>
   </div>
   -->
   <div class="row">
    <div class="col-4" *ngFor="let hotel of hotels">
        <app-card [singleHotel]="hotel"></app-card>
    </div>
</div>